#movies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#genres {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 500px;
}

.nav-link,
.navbar-brand {
  cursor: pointer;
}
